.payment-method-container {
  margin: 1rem 0;
  /* padding: 0 1rem; */
}

.payment-method-container h3 {
  color: rgba(96, 96, 96, 1);
  font-family: "Lato";
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 28px;
}

.payment-options {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  width: 50%;
}

.payment-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1;
  text-align: center;
}

.payment-button.active {
  border: 1px solid rgba(57, 114, 193, 1);
  background-color: white;
  color: rgba(57, 114, 193, 1);
  font-weight: bold;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
}

.cod-button.disabled {
  background-color: rgba(193, 193, 193, 1);
  color: rgba(96, 96, 96, 1);
  cursor: not-allowed;
  border: 1px solid rgba(193, 193, 193, 1);
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
}

.cod-not-available {
  color: rgba(168, 21, 10, 1);
  margin-top: 5px;
  font-family: "Lato";
  font-weight: 400;
  font-style: italic;
  font-size: 13px;
  animation: shake 0.3s;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .payment-options {
    /* flex-direction: column; */
  }

  .payment-button {
    width: 100%;
    /* margin-bottom: 10px; */
  }
}

@media (max-width: 480px) {
  .payment-method-container h3 {
    font-size: 24px;
  }

  .payment-button {
    font-size: 14px;
    padding: 8px 10px;
  }
  .payment-options{
    width: 100%;
  }
}