@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&display=swap');



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --BluePrimary:  rgba(57, 114, 193, 1);
  --White: rgba(255, 255, 255, 1);

}

input{
  outline: none;
}

@media (min-width: 1600px) {
  .comps, .navbar{
      margin: 0rem 8rem;
  }
 

 
}